
.home-favorite-works {
	padding: 60px 0;
	
	.row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 60px;
		row-gap: 60px;
	
		.column {
			position: relative;
			height: 400px;
			width: 100%;
			border-radius: 20px;
				
			
			.rollover {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background: rgba(255, 255, 255, .8);
				color: #fff;
				visibility: hidden;
				opacity: 0;
				transition: opacity .2s, visibility .2s;
				
				.eye {
					font-size: 100px;
					color: $caribbean-green;
				}
				
			}
			
			.corners {
				border-radius: 20px;
			}
			
		}
				
		.column:hover .rollover {
			visibility: visible;
			opacity: 1;
			transition-duration: 300ms;
		}
		
	}
	
	.middle {
		text-align: center;
		padding: 60px;
		
		.headline {
			font-family: 'Surveyor Bold';
			font-size: 50px;
			line-height:  1.1em;
		}
		
		.link {
			padding: 0;
			a {
				font-family: 'Gotham Condensed Bold';
				background-color: $fern;
				font-size: 18px;
				letter-spacing: 2px;
				color: $white;
				text-transform: uppercase;
				border-radius: 48px;
				padding: 20px 60px;
				
				&:hover {
					background-color: $blue-stone;
					color: $mindaro;
					transition-duration: 300ms;
				}
			}
		}
		
	}

	
}


@media only screen and ( max-width: 1200px ) {
	.home-favorite-works {
		padding: 60px 30px 0 30px;
		
		.wrapper {
			width: 100%;
			max-width: 100%;
		}
		
		.row {
			display: block;
		
			.column {
				margin: 30px 0;
			
				.image {
					padding: 30px 0;
					img {
					}
					
				}
				
				.rollover {
				}
				
			}
			
		}
		
		.middle {
			text-align: center;
			padding: 0 0 20px 0;
			
			.headline {
				text-align: center;
				width: 100%;
				font-size: 30px;
			}
			
			.link {
				text-align: center;
				width: 100%;
				a {
					display: block;
					width: 100%;
					padding: 20px 0;
					font-size: 30px;
				}
			}
			
		}
		
	}
}
