.row-with-image {
	
	.row-with-image-container {
		padding: 5% 0;
	
		.image {
			grid-area: image;
		}
		
		.image-corners {
			border-radius: 30px;
		}
			
		.content {
			grid-area: content;
			
			.title {
				font-family: 'Gotham Bold';
				font-size: 14px;
				text-transform: uppercase;
				padding: 0 0 10px 0;
			}
			
			.headline {
				p {
					font-family: 'Surveyor Bold';
					font-size: 40px;
					line-height: 1.1em;
				}
			}
			
			.text {
				padding: 0 0 30px 0;
				p {
					font-family: 'Surveyor Light';
					font-size: 16px;
				}
			}
			
			.link {
				padding: 0 0 60px 0;
				a {
					font-family: 'Gotham Condensed Bold';
					font-size: 24px;
					letter-spacing: 1.5px;
					text-transform: uppercase;
					border-radius: 48px;
					padding: 20px 60px;
				}
			}
			
		}
		
	}
}

.row-with-image {
	.right {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
		column-gap: 30px;
		row-gap: 30px;
		grid-template-areas: 
			"content image";
	}
	.full-length {
		padding: 0
	}
}

.row-with-image {
	.left {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
		row-gap: 30px;
		column-gap: 30px;
		grid-template-areas: 
			"image content";
	}
	.full-length {
		padding: 0
	}
}

@media only screen and ( max-width: 1200px ) {
	.row-with-image {
		.wrapper {
			max-width: 100%;
			width: 100%;
			margin: 0;
			
			.left,
			.right {
				display: grid;
				grid-template-columns: 1fr;
				align-items: center;
				row-gap: 30px;
				column-gap: 30px;
				grid-template-areas: 
					"image"
					"content";
						
				.image {
					img {
						width: 100%;
						height: auto;
					}
				}
				
				.content {
					margin: 0 50px;
					
					.headline {
						p {
							padding: 0 0 15px 0;
						}
					}

					.link {
						width: 100%;
						padding: 0 0 60px 0;
						a {
							display: block;
							width: 100%;
							text-align: center;
							padding: 15px 0;
						}
					}
					
				}
				
			}
		}
	}
}

.row-with-image-theme-blue-stone {
	background-color: $blue-stone;
}
.row-with-image-theme-caribbean-green {
	background-color: $caribbean-green;
}
.row-with-image-theme-gondola {
	background-color: $gondola;
}
.row-with-image-theme-fern {
	background-color: $fern;
}
.row-with-image-theme-mint {
	background-color: $mint;
}
.row-with-image-theme-pale-green {
	background-color: $pale-green;
}
.row-with-image-theme-iris {
	background-color: $iris;
}
.row-with-image-theme-mindaro {
	background-color: $mindaro;
}
.row-with-image-theme-catskill {
	background-color: $catskill;
}
.row-with-image-theme-white {
	background-color: $white;
}


.row-with-image-theme-blue-stone,
.row-with-image-theme-caribbean-green,
.row-with-image-theme-gondola {
	
	.row-with-image-container {
	
		.content {
			
			.title {
				color: $pale-green;
			}
			
			.headline {
				color: $white;
			}
			
			.text {
				color: $white;
			}
			
			.link {
				a {
					background-color: $fern;
					color: $white;
					
					&:hover {
						background-color: $white;
						color: $fern;
						transition-duration: 300ms;
					}
				}
			}
	
		}
		
	}
	
}

.row-with-image-theme-fern  {
	
	.row-with-image-container {
	
		.content {
			
			.title {
				color: $pale-green;
			}
			
			.headline {
				color: $white;
			}
			
			.text {
				color: $white;
			}
			
			.link {
				a {
					background-color: $mint;
					color: $white;
					
					&:hover {
						background-color: $white;
						color: $mint;
						transition-duration: 300ms;
					}
				}
			}
	
		}
		
	}
	
}

.row-with-image-theme-mint, 
.row-with-image-theme-pale-green,
.row-with-image-theme-iris, 
.row-with-image-theme-mindaro,
.row-with-image-theme-catskill, 
.row-with-image-theme-white {
	
	.row-with-image-container {
		
		.content {
			
			.title {
				color: $caribbean-green;
			}
			
			.headline {
				color: $black;
			}
			
			.text {
				color: $black;
			}
			
			.link {
				a {
					background-color: $fern;
					color: $white;
					
					&:hover {
						background-color: $white;
						color: $fern;
						transition-duration: 300ms;
					}
				}
			}
		
		}

	}
	
}

