
.three-columns {
	
	.wrapper {
		
		.theme {
			padding: 60px 0;

			.columns {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 60px;
				position: relative;
				
				.column {
					padding: 0 0 30px 0;
					
					.image {
						img {
							border-radius: 30px;
						}
					}
					
					.headline {
						padding: 30px 0 20px 0;
						p {
							font-family: 'Gotham Bold';
							font-size: 24px;
						}
					}
					
					.text {
						p {
							font-family: 'Gotham Book';
							font-size: 16px;
						}
					}
					
				}
				
			}
			
		}
		
	}
	
}

@media only screen and ( max-width: 800px ) {
	.three-columns {
		
		.wrapper {
			.theme {
		
				.columns {
					grid-template-columns: 1fr;
					
					.image {
						text-align: center;
						img {
							width: 100%;
						}
					}
					.headline {
						text-align: center;
					}
				}
				
			}
		}
		
	}	
}
