.two-columns-links {
	
	.wrapper {
		
		.intro {
			font-family: 'Gotham Book';
			color: $caribbean-green;
			text-transform: uppercase;				
			padding: 0 0 10px 0;
		}
		
		.headline {
			padding: 0 0 20px 0;
			font-family: 'Surveyor Bold';
			font-size: 40px;
			line-height: 1.1em;
			color: $black;
		}
		
		.text {		
			padding: 0 0 20px 0;
		}

		.rows {
			
			.row {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 60px;
				position: relative;
				padding: 20px 0;
				
				.title {
					font-family: 'Gotham Bold';
					font-size: 16px;
					color: $black;
					text-transform: uppercase;
					padding: 0 0 15px 0;
				}
				
				.link {
					padding: 0 0 10px 0;
					a {
						font-family: 'Gotham Light';
						font-size: 14px;
						color: $fern;
						
						&:hover {
							color: $caribbean-green;
							transition-duration: 300ms;
						}
						
					}
				}
				
			}
			
		}
		
	}
	
}

@media only screen and ( max-width: 800px ) {
	.two-columns-links {
		
		.wrapper {
			
			.headline {
				font-size: 30px;
			}
	
			.rows {
				
				.row {
					grid-template-columns: 1fr;
					
					.left {
						padding: 0 0 30px 0;
					}
				}
				
			}
			
		}
		
	}	
}
