// Fonts
$base: "Gotham Book";
$base-font-size: 16px;
$base-font-weight: 350;

// Gradients
$gradient1: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(180,250,196,1) 0%, rgba(202,237,232,1) 100%);
$gradient2: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(209,234,106,1) 0%, rgba(72,250,229,1) 100%);
$gradient3: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(145,244,206,1) 0%, rgba(72,250,229,1) 100%);
$gradient4: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(109,186,133,1) 0%, rgba(72,250,229,1) 100%);
$gradient5: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(21,93,83,1) 0%, rgba(53,185,166,1) 100%);
$gradient6: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(87,183,80,1) 0%, rgba(104,214,113,1) 100%);
$gradient7: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(104,214,113,1) 0%, rgba(145,244,206,1) 100%);
$gradient8: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(72,250,229,1) 0%, rgba(75,250,174,1) 100%);
$gradient9: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(72,250,229,1) 0%, rgba(87,183,80,1) 100%);

// Colors
$black: #000000;
$blue-stone:#015D53;
$caribbean-green:#07BAA6;
$grey: #333333;
$spring-green:#33FAAE;
$gondola:#343434;
$baby-blue:#3FFAE5;
$plantation:#435A55;
$fern:#57B750;
$pastel-green:#68D671;
$silver-tree:#6DBA85;
$silver: #707070;
$cascade:#8FA59A;
$mint:#91F4CE;
$aquamarine:#9FFDD2;
$pale-green:#B4FAC4;
$iris:#CAEDE8;
$mindaro:#D1EA6A;
$tranquil:#DFEBE8;
$bubbles:#E6F2EC;
$catskill:#EFF7F6;
$white: #FFFFFF;
